.OuterDiv
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.ScoreBoard
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#WinScore{
    color: green;
}

#DrawScore{
    color: black;
}

#LoseScore{
    color: red;
}

#ResetButton{
    text-align: center;
    color: black;
    background-color: yellow;
    padding: 20px;
    font-size: 50px;
}

#ResetButton:hover{
    color: yellow;
    background-color: black;
}

#ResultOfLastGame{
    color: red;
    background-color: lightblue;
    padding: 0px 15px;
    font-size: 50px;
}